body{
    background-color: whitesmoke ;
    margin: 0;
    font-family:var(--bs-body-font-family);
}

.navbar{
    background-color: rgb(41, 61, 50);
    overflow:hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 20px
}

.logo{
    font-size: 25px;
    font-weight: bold;
    color: whitesmoke;
}

.nav-links {
  display: flex;
}

/* Individual links */
.nav-links a {
  color: white;
  text-decoration: none;
  padding: 14px 16px;
  display: block;
}

/* Hover effect */
.nav-links a:hover {
  background-color: #576d5b;
}

.header{
    text-align: center;
    color: rgb(84, 105, 84);
}

.raft-image{
    border: 2px solid rgb(84, 105, 84);
    padding: 7px;
    width: 500px;
    display: block;
    margin: 0 auto;
}

.bullets{
    
    color: rgb(76, 76, 76);
    list-style-position: inside;
    text-align: center;
    font-size: 17px;
    font-weight: lighter;
}

.rivers{
    font-size: 30px;
    font-weight: bold;
    text-decoration:underline 3px;
    text-decoration-color: #576d5b;
}

.videocontainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.videoheading{
    text-align: center;
}

.graphheading{
    text-align: center;
}

.graph {
  display: flex;
  justify-content: center;
}

.tableauViz {
  display: block;
  margin: 0 auto;
  max-width: 800px;
}

.pagenav {
    text-align: center;
   
}

.pagenav a{
    display: inline-block;
  padding: 10px 20px;
  background-color: #335b43;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}

.pagenav a:hover{
    background-color: #2a4a36;
}
